.Cart {
  margin: 0;
  padding: 0;
  display: none;
}

.Cart-visible {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}

.Cart-layer {
  margin: 0;
  padding: 0;
  background: rgba(0, 0, 0, 0.7);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
}

.Cart-container {
  margin: 0;
  padding: 0;
  background: rgba(255, 255, 255, 1);
  width: 93.75vw;
  max-width: 960px;
  border-radius: 10px;
}

.Cart-head {
  margin: 0 0 70px;
  padding: 20px 28px 23px 20px;
  max-width: 960px;
  background: rgba(245, 245, 245, 1);
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Cart-title {
  margin: 0;
  padding: 0;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.Cart-total {
  margin: 0;
  padding: 25px 108px 89px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 50px;
}

.Cart-description {
  margin: 0;
  padding: 0;
  text-align: right;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.Cart-price {
  margin: 0;
  padding: 0;
  text-align: right;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}