body {
  margin: 0;
  padding: 0;
  background: #535353;
  font-family: Arial, sans-serif;
}

.PageLayout {
  max-width: 1024px;
  min-height: 100vh;
  margin: 0 auto;
  background: #fff;
  color: #000;
  box-sizing: border-box;
  box-shadow: 0 0 15px 5px #0000003b;
}

.button {
  width: 76px;
  height: 21px;
  color: #000;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 2px;
  border: 1px solid #767676;
  background: #EFEFEF;
}