.Item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: background-color 1s
}

.Item-code {
  padding: 20px 10px 20px 20px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.Item-title {
  width: 100%;
  padding: 20px 10px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.Item-price {
  margin: 0;
  padding: 0;
  color: #404040;
  text-align: right;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.Item-quantity {
  margin: 0;
  padding: 0 24px 0 62px;
  color: #404040;
  text-align: right;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  white-space: nowrap;
}

.Item-actions {
  display: flex;
  justify-content: flex-end;
  padding: 20px 20px 20px 10px;
}