/* Контрол с общими действиями */
.BasketTool {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-size: 18px;
}

.BasketTool-container {
  margin: 0;
  padding: 0;
  display: flex;
}

.BasketTool-total {
  font-weight: bold;
  margin: 0 20px;
  color: #000;
  font-family: Arial;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.BasketTool-navigation {
  margin: 0;
  padding: 0;
  color: #0087E9;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
}

.BasketTool-button {
  margin: 0;
  padding: 0;
  width: 69px;
  height: 21px;
  flex-shrink: 0;
  color: #000;
  text-align: center;
  font-family: Arial;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.BasketTool-label {
  color: #000;
  font-family: Arial;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}