/* Контрол с общими действиями */
.BasketTool {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-size: 18px;
}

.BasketTool-container {
  margin: 0;
  padding: 0;
  display: flex;
}

.BasketTool-total {
  font-weight: bold;
  margin: 0 20px;
}